.appSubtitle {
  height: auto !important;

  display: flex;
  flex-direction: row;
}

.topic {
  width: 0.6rem;
  height: 3rem !important;

  margin-left: 0;

  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  
  background-color: var(--color-primary);
}

.prefixIcon > img{
  width: 3.5rem;

  margin-left: 1.3rem;
  margin-right: 1.1rem;

  border: 3px solid white;
  border-radius: 50%;
}

.sufixIcon {
  margin: 0.5rem 1.2rem 0 auto;
  color: white !important;
}

.subtitle {
  margin-left: 1.3rem;
  margin-top: .6rem;

  color: white;
}

.subtitle.username {
  font-size: 0.9rem;
}

