@font-face {
  src: url("./assets/fonts/Montserrat-Regular.ttf");
  font-family: "Montserrat";
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-background: #292929;
  --color-primary: #FFCE00;
  --color-text-error: #EB2D2D;
  --color-success-toas: #5cb85c;
  --color-background-card: #5252525D;
}

html, body {
  background: var(--color-background);
}

body div:first-child {
  height: 100vh;
}
