.header {
  height: 17% !important;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: black;
  color: white;
}

.header > * {
  margin-top: 1.2rem;
}

.header > strong {
  margin-left: 1.2rem;

  font-size: .9rem;
}

.exit {
  display: flex;
  flex-direction: row;
}

.exit > svg {
  margin-right: 1.9rem;
  margin-left: 0.5rem;
  color: var(--color-text-error);
}

.imgProfile {
  position: relative;
  top: -8%;

  display: flex;
  justify-content: center;
}

.imgProfile > img {
  width: 9rem;

  border: 2px solid white;
  border-radius: 50%;
}
