.container {
  position: relative;
}

.header {
  height: 14% !important;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: black;
  color: white;
}

.header > * {
  margin-top: 1.2rem;
}
.header > strong {
  margin-left: 1.2rem;

  font-size: .9rem;
}

.exit {
  display: flex;
  flex-direction: row;

  cursor: pointer;
}

.exit span > a {
  text-decoration: none !important;
  color: white !important;
}

.exit > svg {
  margin-right: 1.9rem;
  margin-left: 0.5rem;
  
  color: var(--color-text-error);
}

.imgProfile {
  position: relative;
  top: -8%;

  display: flex;
  justify-content: center;
}

.imgProfile > img {
  width: 9rem;

  border: 2px solid white;
  border-radius: 50%;
}

.infoProfile {
  position: relative;
  top: 0;

  max-height: 10rem !important;

  display: flex;
  flex-direction: column;
}

.scroll-home {
  height: 60% !important;

  margin-bottom: 1.5rem;
  
  overflow-y: scroll;
}

.cardsProfile {
  position: relative;

  top: auto;
  
  height: 7rem !important;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;


  background-color: var(--color-background-card);
}

.cardsProfile > .card a{
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;

  color: white;
}

.card:first-child {
  height: auto;
}

.card a > strong {
  font-size: 2.3rem;
}

.bio {
  height: auto;

  margin-top: 2.7rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
}
